* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #1e1e2f;
  color: white;
  padding: 20px;
  text-align: left;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.menu a {
  text-decoration: none;
  background-color: #4e73df;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
}

.menu a:hover {
  background-color: #2e59d9;
}

section {
  padding: 20px 20px;
  max-width: 1000px;
  margin: 12px
}

h2 {
  margin-bottom: 20px;
  text-align: left;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

input, select, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #1e1e2f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #33334d;
}

footer {
  background-color: #1e1e2f;
  color: white;
  text-align: left;
  padding: 15px;
}
